/WildfireDetection/.idea/
/WildfireDetection/venv/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/WildfireDetectionSystem.iml
/.idea/workspace.xml
