<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>Wildfire Detection using AI</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcvinihrIS9FqJTr587Kcmy5zGzQHOJ5U&libraries=drawing,geometry"></script>
{#        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>#}
        <style type="text/css">
            /* Set the size of the div element that will show the map */
            #map {
                height: 800px;
                width: 80%;
            }
        </style>
        <script>
            window.onload = function() {
                initMap();
                getMarkers();
            }
            let map;
            let discoPark = {lat: 33.2539, lng: -97.1528};
            let markerList = {};
            let interval = 10000;

            function initMap() {
                map = new google.maps.Map(
                    document.getElementById('map'), {
                        center: discoPark,
                        zoom: 16,
                        mapTypeId: 'terrain',
                        styles: [
                            {
                                "featureType": "poi",
                                "elementType": "all",
                                "stylers": [
                                    { "visibility": "off"}
                                ]
                            }
                        ],
                        disableDefaultUI: true
                    }
                )
            }
            function getMarkers(){
                $.ajax({
                    type: 'GET',
                    url: "{% url 'markers' %}",
                    success: function (response) {
                        let cameras = JSON.parse(response.cameras)
                        let fires = [false, false, false, false, false]
                        let header = document.getElementById('header');

                        for (let i = 0; i < cameras.length; i++) {
                            var marker;
                            if(cameras[i].id in markerList){
                                if(cameras[i].fire_detected){
                                    markerList[cameras[i].id].setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')
                                    fires[i] = true;
                                } else {
                                    markerList[cameras[i].id].setIcon('https://maps.google.com/mapfiles/ms/icons/blue-dot.png')
                                    fires[i] = false;
                                }
                            } else {
                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(cameras[i].latitude, cameras[i].longitude),
                                    map: map,
                                    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                                });
                                markerList[cameras[i].id] = marker;
                            }

                            // Show marker information
                            var infowindow = new google.maps.InfoWindow({
                                content:"Camera " + cameras[i].id.toString()
                              });

                              infowindow.open(map,marker);
                        }
                        if(fires.includes(true)) {
                            header.style.display = 'block';
                        } else {
                            header.style.display = 'none';
                        }
                    },
                    error: function(response) {
                        console.log(response);
                    }
                });
                window.setTimeout(getMarkers, interval);
            }
        </script>

    </head>
    <body>
        <h1>Wildfire Detection App</h1>
        <p>Wildfire detection powered by the wonderful magic of Machine Learning</p>
        
        <style>
            h2  {background: #ff0000; text-align: center}
            #header {
                display: none;
            }
        </style>
        <div class="header" id="header">
            <h2>There is a fire in the area!</h2>
        </div>

        <form action="{% url 'registration' %}">
        <p>Register e-mail and address to receive notification when fire is near.</p>
        <input type="submit" value="Register">
    </form>
    <div class="row">
        <div class="column map">
            <div id="map"/>
            <div id="floating-panel"/>
        </div>
    </div>
    </body>
</html>