<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>Wildfire Detection using AI</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcvinihrIS9FqJTr587Kcmy5zGzQHOJ5U&libraries=drawing,geometry"></script>
        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
        <style type="text/css">
            /* Set the size of the div element that will show the map */
            #map {
                height: 800px;
                width: 80%;
            }
        </style>
        <script>
            var map;
            var discoPark = {lat: 33.2539, lng: -97.1528}

            function initMap() {
                map = new google.maps.Map(
                    document.getElementById('map'), {
                        center: discoPark,
                        zoom: 16,
                        mapTypeId: 'terrain',
                        styles: [
                            {
                                "featureType": "poi",
                                "elementType": "all",
                                "stylers": [
                                    { "visibility": "off"}
                                ]
                            }
                        ],
                        disableDefaultUI: true
                    }
                )
            }

            function getMarkers() {
                $.ajax({
                    type : "POST",
                    url : 'ajax/markers/',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success : function(res) {
                        console.log("Got Markers")
                    }
                });
               var len = res.length;
               for(var i = 0; i < len; i++) {
                   if(markerList.hasOwnProperty(res[i].id)) {
                       markerList[res[i].id].setPosition(new google.maps.LatLng(res[i].latitude, res[i].longitude));
                   } else {
                       var marker = new google.maps.Marker({
                           position: new google.maps.LatLng(res[i].latitude, res[i].longitude),
                            map: map
                       });
                       markerList[res[i].id] = marker;
       }
   }
   window.setTimeout(getMarkers, INTERVAL)
            }
            window.onload = function() {
                initMap();
                getMarkers();
            }
        </script>

    </head>
    <body>
        <h1>Wildfire Detection App</h1>
        <p>Wildfire detection powered by the wonderful magic of Machine Learning</p>
        <h3>Placeholder for banner notification for fire/no fire notification, will need to be styled with CSS for banner</h3>
    <form action="{% url 'registration' %}">
        <p>Register e-mail and address to receive notification when fire is near.</p>
        <input type="submit" value="Register">
    </form>
    <div class="row">
        <div class="column map">
            <div id="map"/>
            <div id="floating-panel"/>
        </div>
    </div>
    </body>
</html>